@import "tailwindcss";

.loader {
  width: 120px;
  height: 60px;
  border-radius: 200px 200px 0 0;
  -webkit-mask: repeating-radial-gradient(
    farthest-side at bottom,
    #0000 0,
    #000 1px 12%,
    #0000 calc(12% + 1px) 20%
  );
  background: radial-gradient(farthest-side at bottom, #514b82 0 95%, #0000 0)
    bottom/0% 0% no-repeat #ddd;
  animation: l10 2s infinite steps(6);
}
@keyframes l10 {
  100% {
    background-size: 120% 120%;
  }
}

.images {
  display: flex;
  gap: 20px;
}

.images .image-container {
  width: 444px;
}

.images .image-container img {
  width: 400px;
}

.files {
  display: flex;
  gap: 12px;
}

.background-removed,
.printing-file,
.cutting-file {
  box-sizing: border-box;
  border: 1pt solid blue;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 9in;
  width: 9in;
}

.background-removed img {
  flex-shrink: 1;
}

.bottom {
  height: 161px;
  border-radius: 80px;
  background-color: red;
  margin: 1rem;
}

.options {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

@page {
  margin: 0px;
  position: relative;
}

@media print {
  .background-removed,
  .printing-file,
  .cutting-file {
    position: absolute;
    left: 0;
    top: 0;
    border: 1pt solid blue;
  }
}
