body {
  margin: 1rem;
}

.container {
  font-family: "sans-serif";
}

.images {
  display: flex;
  gap: 20px;
}

.images .image-container {
  width: 444px;
}

.images .image-container img {
  width: 400px;
}

.files {
  display: flex;
  gap: 12px;
}

.files > div {
  box-sizing: border-box;
  border: 1pt solid blue;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.background-removed img {
  flex-shrink: 1;
}

.bottom {
  height: 161px;
  border-radius: 80px;
  background-color: red;
  margin: 1rem;
}

.options {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
